@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

//Colors
//Primary

$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: $violet;
  background-image: url(/images/bg-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.grid-container {
  width: 80%;
  margin: 1em auto;
  display: grid;
  grid-template-rows: auto auto auto auto;

  .logo {
    width: 125px;
    padding-top: 1em;
  }
}

.main {
  padding-top: 3.5em;

  .illustration {
    width: 100%;
  }
}

.sidebar {
  color: white;
  text-align: center;

  .heading {
    font-weight: 600;
    margin: 2.5em 0 0.75em 0;
  }

  .desc {
    font-weight: 400;
    margin-bottom: 2em;
  }

  .register-btn {
    margin: 0 auto;
    display: block;
    width: 200px;
    text-decoration: none;
    background: white;
    padding: 0.75em 1em;
    border-radius: 5em;
    font-weight: 400;
    font-size: 0.825rem;
    color: $violet;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    font-family: "Poppins", sans-serif;

    &:active {
      background: $soft-magenta;
      color: white;
    }
  }
}

.soc-list {
  width: 50%;
  margin: 2em auto;
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  color: #fff;

  a {
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    align-items: center;
    text-decoration: none;

    i {
      transform: translate(0%, 75%);
    }

    &:active {
      color: $soft-magenta;
    }
  }
}

footer {
  .attribution {
    font-size: 11px;
    text-align: center;
    color: #fff;
  }
  .attribution a {
    color: $soft-magenta;
  }
}

@media (min-width: 720px) {
  body {
    height: 100vh;
    background-image: url(/images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
  }
  .grid-container {
    width: 90%;
    //height: 100vh;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;

    .logo {
      width: 200px;
      //padding-top: 1.5em;
    }
  }

  .navigation {
    grid-column: 1 / span 12;
    padding-top: 2em;
  }

  .main {
    grid-column: 1 / span 7;
    margin-top: 2em;

    .illustration {
      width: 93%;
    }
  }

  .sidebar {
    grid-column: 8 / span 5;
    text-align: left;
    margin: 4em 0 0 0.5em;

    .heading {
      font-size: 2rem;
    }

    .desc {
      line-height: 1.6;
    }

    .register-btn {
      margin: 0;
      text-align: center;
      width: 200px;
      padding: 1em 1em;
      box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.3);
      font-size: 1rem;
    }
  }

  .footer {
    grid-column: 1 / span 12;

    .soc-list {
      justify-content: flex-end;
      width: 100%;

      .soc-item {
        margin-left: 1em;
      }
    }
  }
}
