@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

//Colors
//Primary

$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  .attribution {
    font-size: 11px;
    text-align: center;
    color: #fff;
  }
  .attribution a {
    color: $soft-magenta;
  }
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: $violet;
  background-image: url(/images/bg-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.grid-container {
  width: 80%;
  margin: 1em auto;
  display: grid;
  grid-template-rows: auto auto auto auto;

  .logo {
    width: 125px;
    padding-top: 1em;
  }
}

.main {
  padding-top: 3.5em;

  .illustration {
    width: 100%;
  }
}

.sidebar {
  color: white;
  text-align: center;

  .heading {
    font-weight: 600;
    margin: 2.5em 0 .75em 0;
  }

  .desc {
    font-weight: 400;
    margin-bottom: 2em;
  }

  .register-btn {
    margin: 0 auto;
    display: block;
    width: 200px;
    text-decoration: none;
    background: white;
    padding: 0.75em 1em;
    border-radius: 5em;
    font-weight: 400;
    font-size: 0.825rem;
    color: $violet;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
  }
}

.soc-list {
  width: 50%;
  margin: 2em auto;
  display: flex;
  justify-content: space-around;

  li {
    list-style-type: none;
    color: #fff;

    i {
      border-radius: 50%;
      border: 1px solid #fff;
      padding: 0.5em;
      width: 30px;
      height: 30px;
      text-align: center;
    }
  }
}

@media (min-width: 720px) {
  body {
    background-image: url(/images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .grid-container {
    width: 90%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;

    .logo {
      width: 200px;
      //padding-top: 1.5em;
    }
  }

  .navigation {
    grid-column: 1 / span 12;
  }

  .main {
    grid-column: 1 / span 7;
    display: flex;
    align-self: center;
  }

  .sidebar {
    grid-column: 8 / span 5;
  }

  .footer {
    grid-column: 1 / span 12;
  }
}
