@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

//Colors
//Primary

$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

//Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: $violet;
  background-image: url(/images/bg-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
}

.grid-container {
  height: 100vh;
  width: 80%;
  margin: 1em auto;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
}

.main {
  padding-top: 3.25em;
}

.illustration {
  width: 100%;
}

.mobile-logo {
  width: 150px;
  padding-top: 1em;
}

@media (min-width: 720px) {
  body {
    height: 100vh;
    width: 100vw;
    font-family: "Open Sans", sans-serif;
    background-color: $violet;
    background-image: url(/images/bg-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
  }

  .navigation {
    grid-column: 1 / span 12;
  }

  .main {
    grid-column: 1 / span 7;
  }

  .sidebar {
    grid-column: 8 / span 5;
  }

  .footer {
    grid-column: 1 / span 12;
  }
}
